.mainzz{
	position: relative;
	height: 100%;
	width: 100%;
}
.mainzz .gallery{
	position: relative;
	height: auto;
	width: 100%;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 2vh auto 2vh auto 2vh auto;
	grid-template-columns: auto auto auto auto; /*i write auto four time because we want four rows*/
	grid-gap: 2vh;
	grid-auto-flow: dense;
}
.mainzz .gallery .img{
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
    cursor: pointer;
}
.mainzz .gallery .img:first-child{
	-ms-grid-column: span 2;
	    grid-column-start: span 2;
	-ms-grid-row: span 2;
	    grid-row-start: span 2;
}
.mainzz .gallery .img:nth-child(2n+3){
	-ms-grid-row: span 2;
	    grid-row-start: span 2;
}
.mainzz .gallery .img:nth-child(4n+5){
	-ms-grid-column: span 2;
	    grid-column-start: span 2;
	-ms-grid-row: span 2;
	    grid-row-start: span 2;
}
.mainzz .gallery .img:nth-child(6n+7){
	-ms-grid-row: span 1;
	    grid-row-start: span 1;
}
.mainzz .gallery .img:nth-child(8n+9){
	-ms-grid-column: span 1;
	    grid-column-start: span 1;
	-ms-grid-row: span 1;
	    grid-row-start: span 1;
}
.mainzz .gallery .img img{
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-webkit-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.mainzz .gallery .img:hover img{
	-webkit-filter: brightness(1) grayscale(0);
	        filter: brightness(1) grayscale(0);
}

@media only screen and (max-width: 768px){
	.mainzz h1{
		font-size: 1.8em;
		width: 400px;
	}
	.mainzz p{
		font-size: 1.2em;
	}
	.mainzz .gallery{
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: auto 2vh auto 2vh auto;
		grid-template-columns: auto auto auto;
	}
}
@media only screen and (max-width: 430px){
	.mainzz h1{
		font-size: 1.2em;
		width: 300px;
	}
	.mainzz p{
		font-size: 0.89em;
	}
	.mainzz .gallery{
		display: block;
	}
	.mainzz .gallery .img{
		display: block;
		width: 100%;
		height: 100%;
		margin:2% 0;
	}
	.mainzz .gallery .img img{
		display: block;
		-webkit-filter: brightness(1) grayscale(0);
		        filter: brightness(1) grayscale(0);
	}
}